---
Checks: 'bugprone-*,
        clang-analyzer-cplusplus.InnerPointer,
        cppcoreguidelines-*,
        readability-*,
        clang-analyzer-core-*,
        clang-analyzer-cplusplus-*,
        clang-analyzer-deadcode-*,
        clang-analyzer-nullability-*,
        -implicit-int-float-conversion,
        -float-conversion,
        -bugprone-narrowing-conversions,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-narrowing-conversions,
        -cppcoreguidelines-avoid-c-arrays'
HeaderFilterRegex: ''
FormatStyle:     file

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: lower_case }
  - { key: readability-identifier-naming.StructCase,             value: lower_case }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case }
  - { key: readability-identifier-naming.VariableCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.ClassMemberSuffix,      value: _          }
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,  value: _          }
  - { key: readability-identifier-naming.EnumConstantCase,         value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantPrefix,       value: k          }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: lower_case }
  - { key: readability-identifier-naming.ConstexprVariablePrefix,  value: k_         }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: lower_case }
  - { key: readability-identifier-naming.MemberConstantCase,       value: lower_case }
  - { key: readability-identifier-naming.StaticConstantCase,       value: lower_case }
  - { key: readability-implicit-bool-conversion.AllowIntegerConditions,  value: 1   }
  - { key: readability-implicit-bool-conversion.AllowPointerConditions,  value: 1   }
